DATABASE_URL="postgresql://confeitaria_user:confeitaria_dev_password@localhost:5432/confeitaria_saas?schema=public"
DIRECT_URL="postgresql://confeitaria_user:confeitaria_dev_password@localhost:5432/confeitaria_saas?schema=public"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
UPLOAD_STORAGE_DRIVER="local"
SUPABASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_STORAGE_BUCKET="product-images"
